{% extends "posts-layout.twig" %}
 
{% block posts %}
      <section class="posts small-12 large-8 medium-8 columns">
          <article id="post-80661" class="post-80661 post clearfix" role="article">
            <a href="post.html" 
               title="Premika Vijyam DVD &amp; Kolahalan Prasadam">
             <img src="assets/img/posts/premika-vijyan-dvd-front-537x300.png"
                  class="attachment-wpbs-featured wp-post-image" 
                  alt="Premika Vijayam DVD - Font">
            </a>              
            <header>
                <span class="meta">
                    <timedate datetime="2015-03-23" pubdate="">
                        <span class="day">23</span>
                        <span class="month">Mar</span>
                        <span class="year">2015</span>
                    </timedate>
                </span>                     
                <h1>
                    <a href="post.html" 
                       rel="bookmark" title="Premika Vijyam DVD &amp; Kolahalan Prasadam">
                        Premika Vijyam DVD &amp; Kolahalan Prasadam
                    </a>
                </h1>
            </header>  
            <section class="post_content clearfix">
              <p>Sri Sri Anna s life history has been documented for posterity!!! Premika Vijayam is a short, moving film that records and traces Sri Sri Anna’s early life right from his incarnation. Aptly titled ‘Bala Kandam’, Premika Vijyam is scripted by Sri Hariji and Sri Ranganji – Sri Anna’s sons and foremost disciples. </p>
                <p>Sri Radhika Ramana Bhaktha Kolahalan’s abundant grace is now available in the form of prasadam at Paranur- an invaluable one though! At a very nominal price. </p>
            </section>  
            <footer>
                <ul class="tags">
                 <li><a href="http://srisrianna.com/category/announcement" 
                   rel="category tag">announcements</a></li>
                </ul>
            </footer>  
          </article>
          <article id="post-80661" class="post-80661 post clearfix" role="article">        
            <header>
                <span class="meta">
                    <timedate datetime="2015-03-23" pubdate="">
                        <span class="day">23</span>
                        <span class="month">Mar</span>
                        <span class="year">2015</span>
                    </timedate>
                </span>                     
                <h1>
                    <a href="post.html" 
                       rel="bookmark" title="Premika Vijyam DVD &amp; Kolahalan Prasadam">
                        Premika Vijyam DVD &amp; Kolahalan Prasadam
                    </a>
                </h1>
            </header>  
            <section class="post_content clearfix">
              <p>Sri Sri Anna s life history has been documented for posterity!!! Premika Vijayam is a short, moving film that records and traces Sri Sri Anna’s early life right from his incarnation. Aptly titled ‘Bala Kandam’, Premika Vijyam is scripted by Sri Hariji and Sri Ranganji – Sri Anna’s sons and foremost disciples. </p>
                <p>Sri Radhika Ramana Bhaktha Kolahalan’s abundant grace is now available in the form of prasadam at Paranur- an invaluable one though! At a very nominal price. </p>
            </section>  
            <footer>
                <ul class="tags">
                 <li><a href="http://srisrianna.com/category/announcement" 
                   rel="category tag">announcements</a></li>
                </ul>
            </footer>  
          </article> 
      </section>          
{% endblock %}
