{% extends "layout.twig" %}
 
{% block page %}
     <div class="row" data-equalizer>
      <section class="small-12 large-6 medium-6 columns" >
        <div class="widget-section" data-equalizer-watch>
            <div class="section-title"><i class="ion-speakerphone"></i>Announcements</div>
         <div class="section-content announcement">
            <ul class="example-orbit" data-orbit>
              <li>
                <img src="assets/img/20150307-holi.png" alt="செய்திகள் & ப்ரவசனங்கள்" />
                <div class="orbit-caption">
                  செய்திகள் & ப்ரவசனங்கள்
                </div>
              </li>
            </ul>             
         </div>
       </div>
      </section>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-ios-compose"></i>Latest Posts</div>   
         <div class="section-content latest-posts">    
          <ul>
            <li><a href="http://srisrianna.com/announcement/sapthaham-jan/80610">ராஜ கோபுர திருப்பணி, வேதகாம பாடசாலை & ஸப்தாஹங்கள்</a></li>
            <li><a href="http://srisrianna.com/announcement/uthsavam-sapthaham/80597">ஸ்ப்தாஹ/உத்ஸவ அறிவிப்புகள்</a></li>
            <li><a href="http://srisrianna.com/announcement/sapthaha-programs/80593">ஸ்ப்தாஹ அறிவிப்புகள்</a></li>
            <li><a href="http://srisrianna.com/announcement/veda-vigyanam-sri-sri-anna-releasing-english-translation/80587">Veda Vigyanam – Sri Sri Anna Releasing English Translation</a></li>              
            <li><a href="http://srisrianna.com/announcement/veda-vigyanam-sri-sri-anna-releasing-english-translation/80587">Veda Vigyanam – Sri Sri Anna Releasing English Translation</a></li>   
            <li><a href="http://srisrianna.com/announcement/veda-vigyanam-sri-sri-anna-releasing-english-translation/80587">More...</a></li>                 
          </ul>
         </div>
         <div class="section-title"><i class="ion-email"></i>Subscribe for News</div>   
         <div class="section-content subscribe">    
            <form action="http://srisrianna.us7.list-manage2.com/subscribe/post?u=22d9e6eb35a769d1c7a0e03db&amp;id=27011330a0" 
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
                  class="validate" target="_blank" novalidate="">
              <div class="row collapse prefix-radius">
                <div class="small-2 medium-1 large-1 columns">
                  <span class="prefix"><i class="ion-email size-24"></i></span>
                </div>
                <div class="small-8 medium-10 large-10 columns">
                  <input type="text" placeholder="Enter your E-Mail...">
                </div>
                <div class="small-2 medium-1 large-1 columns">
                  <a href="#" class="button postfix">Go</a>
                </div>                  
              </div>
             </form>             
         </div>
        </div>
      </section>  
     </div>
     <div class="row" data-equalizer>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-ios-book"></i>Vaishnava Samhita: Vol. I, Book 1, Chapter 1, Sloka 36</div>    
         <div class="section-content vaishnava-samhita">        
          <dl>
            <dt>
                Mandah Sumandamatayo Mandabhagyah Kalau Narah 
                Tasmat Nashaknuvantyeva Vidhatum Niyaman Bahoon.                
            </dt>
            <dd>
                People born in this Kaliyuga are lazy, slow-witted and unfortunate. Hence they will not come forward to observe the various kinds of strict austerities.                
            </dd>
          </dd>
         </div>
        </div>
      </section>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-quote"></i>உபதேச மொழிகள்</div> 
         <div class="section-content upadesa-mozhigal">  
          <p>
            சின்னக் குழந்தை நம்மை சம்பந்தமில்லாத கேள்விகளை ஓயாமல் கேட்டுக் கொண்டேவரும். அதை நிறுத்த வழி என்ன தெரியுமா? நாம் பதில் சொல்லுவதைவிட்டு அந்தக் குழந்தையைக் கேள்விகள் கேட்க ஆரம்பித்து விடவேண்டும். அதுபோல் நம்மிடம் தர்க்கம் செய்ய வருபவர்கள் பல கேள்விகளை சம்பந்தமில்லாது கேட்டுத் துன்புறுத்தினால் நாம் விடையே கூறக்கூடாது. நமக்கு ஒன்றுமே தெரியாத முட்டாளாகாப் பாவித்துக் கொள்ள தெரியவேண்டும். பிறகு நாமே அவரை சந்தேகம் கேட்க ஆரம்பித்துவிட வேண்டும்.          
          </p>
         </div>  
        </div>
      </section>
     </div>
     <div class="row" data-equalizer>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-android-calendar"></i>Programs</div>  
         <div class="section-content activities">
            <ul>
                <li>
                  <a href="#">05-03-2015 - 13-03-2015 - ஶ்ரீமத் பாகவத ஸப்தாஹம் - ஶ்ரீ ஶ்ரீ அண்ணா - ஶ்தசரதபுரி, ராஜாராம் மந்திர், டெல்லி </a>
                </li>
                <li>
                  <a href="#">26-03-2015 - 28-03-2015 - ஶ்ரீ ராம நவமி உத்ஸவம் - சேங்கனூர் </a>
                </li>                
                <li>
                  <a href="#">02-05-2015 to 09-05-2015 - ஶ்ரீமத் பாகவத ஸப்தாஹம் - ஶ்ரீ ஶ்ரீ அண்ணா - ஶ்ரீ கூரத்தாழ்வான் பஜனாஸ்ரமம், கோகுலம், அழகர் கோவில், மதுரை</a>
                </li>
                <li>
                  <a href="#">26-07-2015 - பரனூர் வாரி - விழுப்புரம்</a>
                </li>
                <li>
                  <a href="#">More Events</a>
                </li>                
             </ul>
         </div> 
        </div>
      </section>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
            <div class="section-title"><i class="ion-ios-book"></i>பாகவத தர்மம்</div>  
         <div class="section-content bhagavatha-dharmam">    
          <p>பாகவததர்மம் பத்திரிக்கை வேண்டுவோர் வருஷாந்திர சந்தா தொகை ரூ 200/- நேரடியாக ஶ்ரீரங்கம் ஶ்ரீஶ்ரீ பிரஸ் விலாசத்திற்கோ, பரனூரிலோ, சென்னை இராயப்பேட்டை ப்ரேமிக வித்யா கேந்திரத்திலோ பணம் செலுத்தி ரசீது பெற்றுக்கொள்ளலாம்.</p>
          <p><a href="#">மேலும் விவரங்களுக்கு</a></p>
         </div>  
        </div>
      </section>
     </div>
     <div class="row" data-equalizer>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-images"></i>Gallery</div>  
         <div class="section-content gallery">  
            <ul class="clearing-thumbs small-block-grid-4" data-clearing>
              <li>
                <a class="th" href="assets/img/gallery/full/20150311-1407-wa.jpg">
                    <img data-caption="20150311-1407-wa" src="assets/img/gallery/tn/20150311-1407-wa-th.jpg">
                </a>
               </li>
              <li>
                <a class="th" href="assets/img/gallery/full/20150316-2208-wa.jpg">
                    <img data-caption="20150311-1407-wa" src="assets/img/gallery/tn/20150316-2208-wa-th.jpg">
                </a>
               </li>
              <li>
                <a class="th" href="assets/img/gallery/full/20150316-2236-wa.jpg">
                    <img data-caption="20150311-1407-wa" src="assets/img/gallery/tn/20150316-2236-wa-th.jpg">
                </a>
               </li>                
            </ul>             
         </div>
        </div>            
      </section>
      <section class="small-12 large-6 medium-6 columns">
        <div class="widget-section" data-equalizer-watch>
         <div class="section-title"><i class="ion-android-cart"></i>Get Books/Audio/Videos</div> 
         <div class="section-content shop">  
            <p>Bhakthas who would like to get Sri Sri Anna’s audio, books can get from the follow locations.</p>
              <p><strong>Sri Hari Traders</strong></p>
              <address>
               9, Moorthy Street <br />
               West Mambalam, Chennai- 600 033 <br />
               Contact: Suresh Battar <br />
               <a href="mailto:sriharitraders108@gmail.com"><i class="ion-email size-24"></i>sriharitraders108@gmail.com</a>
              </address>                
             <!--ul class="example-orbit-content" data-orbit>
              <li data-orbit-slide="location-1">
                <div>
                  <h4>Sri Hari Traders</h4>
                  <address>
                   9, Moorthy Street <br />
                   West Mambalam, Chennai- 600 033 <br />
                   Contact: Suresh Battar <br />
                   <a href="mailto:sriharitraders108@gmail.com"><i class="ion-email size-24"></i>sriharitraders108@gmail.com</a>
                  </address>   
                </div>
              </li>
              <li data-orbit-slide="location-2">
                <div>
                  <h4>Sri Krishna Premamrutham Trust</h4>
                  <address>
                   New.No 7, Old.No 4, Avvai Shanumgam I lane<br />
                   Royapettah, Chennai- 600 014 <br />
                   Ph:044.28112748 <br />
                  </address>   
                </div>
              </li>
              <li data-orbit-slide="location-3">
                <div>
                  <h4>Sri Krishna Premamrutham Trust</h4>
                  <address>
                   Agraharam Street, <br />
                   Paranur Village & Post, (VIA) Mugaiyur <br />
                   Villupuram Dist, Pin: 605755 <br />
                   Ph: 94434-81860 <br />
                  </address>   
                </div>
              </li>
            </ul-->             
            <!--a href="#"><img class="box-shadow right" src="assets/img/sri-hari-traders-map.png" /></a>
            <div class="clearfix"></div-->
         </div>    
       </div>
      </section>
     </div>
{% endblock %}