<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
      <link rel="stylesheet" href="assets/css/main.css" />
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed%3A400%2C300%2C700%2C400italic&ver=4.1.1" />  
      <script src="assets/js/modernizr.js"></script>
  </head>
  <body>
   <div id="wrap">
    <header class="row">
      <div class="large-12 medium-12 small-12 columns">
        <img src="assets/img/srisri.png" class="show-for-medium-up img-srisri"/>
          <h2 class="show-for-medium-up hide-for-portrait">ஶ்ரீ ஶ்ரீ அண்ணா <small>(க்ருஷ்ண ப்ரேமி)</small></h2>
          <h3 class="show-for-medium-up show-for-portrait">ஶ்ரீ ஶ்ரீ அண்ணா <small>(க்ருஷ்ண ப்ரேமி)</small></h3>
          <h2 class="show-for-small-only">ஶ்ரீ ஶ்ரீ அண்ணா</h2>
          <h3 class="show-for-medium-up hide-for-portrait"><small>ஹரே ராமா ஹரே ராமா ராம ராம ஹரே ஹரே <br />
              ஹரே க்ருஷ்ணா ஹரே க்ருஷ்ணா க்ருஷ்ண க்ருஷ்ணா ஹரே ஹரே</small></h3>
          <h4 class="show-for-medium-up show-for-portrait"><small>ஹரே ராமா ஹரே ராமா ராம ராம ஹரே ஹரே <br />
              ஹரே க்ருஷ்ணா ஹரே க்ருஷ்ணா க்ருஷ்ண க்ருஷ்ணா ஹரே ஹரே</small></h4>          
      </div>
      <div class="clearfix"></div>    
    </header>
    <!--nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">Sri Sri Anna</li>
        <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>          
      </ul>
        <section class="top-bar-section">
            <ul class="left">
              <li class="has-dropdown not-click"><a href="#">Item 1</a>

                <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Item 1</a></li>
                  <li><label>Level One</label></li>
                  <li><a href="#">Sub-item 1</a></li>
                  <li><a href="#">Sub-item 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sub-item 3</a></li>
                  <li class="has-dropdown not-click"><a href="#">Sub-item 4</a>

                    <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Sub-item 4</a></li>
                      <li><label>Level Two</label></li>
                      <li class="has-dropdown not-click"><a href="#">Sub-item 1</a>

                        <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Sub-item 1</a></li>
                          <li><label>Level Three</label></li>
                          <li class="has-dropdown not-click"><a href="#">Sub-item 1</a>

                            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Sub-item 1</a></li>
                              <li><label>Level Four</label></li>
                              <li><a href="#">Sub-item 1</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Sub-item 2</a></li>
                          <li><a href="#">Sub-item 3</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Sub-item 4</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Sub-item 2</a></li>
                      <li><a href="#">Sub-item 3</a></li>
                      <li><a href="#">Sub-item 4</a>
                    </li></ul>
                  </li>
                  <li><a href="#">Sub-item 5</a></li>
                </ul>
              </li>
              <li class="divider"></li>
            </ul>
            <ul class="right">
              <li class="divider"></li>
              <li><a href="#">Item 2</a></li>
            </ul>
          </section>
        </nav-->
      <ul id="menu-default">
        <li id="menu-item-2750"><a href="/">Home</a></li>
        <li id="menu-item-26">
         <a href="http://srisrianna.com/anna" class="dropdown-toggle" data-toggle="dropdown">Anna<b class="caret"></b></a>
         <ul class="dropdown-menu">
           <li id="menu-item-1314"><a href="http://srisrianna.com/anna">Anna</a></li> 
           <li id="menu-item-72"><a href="http://srisrianna.com/bhakthapuri">Bhakthapuri</a></li> 
           <li id="menu-item-1616"><a href="http://srisrianna.com/about">About Site</a></li> 
         </ul>
        </li>
        <li id="menu-item-13568"><a href="http://srisrianna.com/bhagavatha-dharmam">பாகவத தர்மம்</a></li>
        <li class="show-for-medium-up" id="menu-item-13192"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
         <ul class="dropdown-menu">
          <li id="menu-item-5669"><a href="/brahmothsavam/brahmothsavam-2013/5472">Brahmothsavam</a></li> 
          <li id="menu-item-5021"><a href="#">80th Jayanthi</a>
           <ul class="dropdown-menu">
            <li id="menu-item-174"><a href="http://srisrianna.com/category/80th-jayanthi">80th Jayanthi</a></li> 
            <li id="menu-item-5020"><a href="http://srisrianna.com/how-to-contribute">How to Contribute?</a></li>
           </ul>
          </li> 
         </ul>
        </li>
        <li class="show-for-medium-up" id="menu-item-2746"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery<b class="caret"></b></a>
         <ul class="dropdown-menu">
          <li id="menu-item-110"><a href="/gallery/">Gallery</a></li> 
          <li id="menu-item-2747"><a href="http://srisrianna.com/wheretoget">Where to Get</a></li> 
         </ul>
        </li>
        <li class="show-for-medium-up" id="menu-item-53"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Books<b class="caret"></b></a>
         <ul class="dropdown-menu">
          <li id="menu-item-1469"><a href="http://srisrianna.com/books">க்ரந்தங்கள்</a></li> 
          <li id="menu-item-55">
            <a href="http://srisrianna.com/books-english/sri-vaishnava-samhitha">Sri Vaishnava Samhitha</a>
          </li> 
          <li id="menu-item-54"><a href="http://srisrianna.com/sthothras">Sthothras</a></li> 
          <li id="menu-item-2748"><a href="http://srisrianna.com/wheretoget">Where to Get</a></li> 
         </ul>
        </li>
        <li class="show-for-medium-up" id="menu-item-59"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Audio<b class="caret"></b></a>
         <ul class="dropdown-menu">
          <li id="menu-item-1468"><a href="http://srisrianna.com/upanyasam">உபன்யாஸங்கள்</a></li> 
          <li id="menu-item-58"><a href="http://srisrianna.com/wheretoget">Where to Get</a></li> 
         </ul>
        </li>
        <li class="show-for-medium-up" id="menu-item-13561"><a href="http://srisrianna.com/donations">Donations</a></li>
        <li class="show-for-medium-up hide-for-portrait" id="menu-item-5049"><a href="http://srisrianna.com/reach-us">Contact</a></li>
       </ul>    
    <div class="main">
        {% block page %}{% endblock %}
    </div>
    <footer>
     <div class="row">
      <div class="large-6 columns">
        <ul>
        <li>© 2004 - 2015 All Rights Reserved.</li>
        <li>Administered By <a href="mailto:mukunthanpnr@gmail.com">R. Mukunthan</a> on Behalf Of Sri Sri Krishnapremi Swamigal Bhagavatha Dharmam Trust</li>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul>
        <li>Site Developed &amp; Maintained by <a href="mailto:srisriannaorg@gmail.com">Santhanam</a> &amp; <a href="http://thiru.in" target="_blank">Thiru</a></li>
        <li>
            <span class="size-24">
              <a href="#"><i class="icon ion-social-googleplus"></i></a>
            </span>            
        </li>            
        </ul>
      </div>      
     </div>
     <div class="row">
      <div class="large-12 columns clearfix">
        <p class="left text-left">© ஶ்ரீ ஶ்ரீ க்ருஷ்ண ப்ரேமி ஸ்வாமிகள் பாகவத தர்மம் அறக்கட்டளை</p>
        <p class="right text-right"><a href="terms-and-conditions">Terms</a></p>
      </div>   
     </div>              
    </footer>
   </div> 
   <script src="assets/js/main.js"></script>  
  </body>
</html>