<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ஶ்ரீ ஶ்ரீ அண்ணா - (க்ருஷ்ண ப்ரேமி)</title>
      <link rel="stylesheet" href="assets/css/main.css" />
      <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <!--link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed%3A400%2C300%2C700%2C400italic&ver=4.1.1" /-->
  </head>
  <body>
   <div id="wrap">
    <header class="row">
      <div class="large-12 medium-12 small-12 columns">
        <img src="assets/img/srisri.png" class="show-for-medium-up img-srisri"/>
          <h1>ஶ்ரீ ஶ்ரீ அண்ணா <small>(க்ருஷ்ண ப்ரேமி)</small></h1>
          <h3 class="show-for-medium-up"><small>ஹரே ராமா ஹரே ராமா ராம ராம ஹரே ஹரே <br />
              ஹரே க்ருஷ்ணா ஹரே க்ருஷ்ணா க்ருஷ்ண க்ருஷ்ணா ஹரே ஹரே</small></h3>
      </div>
      <div class="clearfix"></div>    
    </header>
    <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
        <section class="top-bar-section">
            <ul>
              <li><a href="/">Home</a></li>
              <li class="has-dropdown">
                <a href="#">Anna</a>
                <ul class="dropdown">
                  <li><a href="index-posts.html">Anna</a></li>
                  <li><a href="#">Bhakthapuri</a></li>
                  <li><a href="#">About Site</a></li>
                </ul>
              </li>
              <li><a href="/">பாகவத தர்மம்</a></li>
              <li class="has-dropdown">
                <a href="#">Programs</a>
                <ul class="dropdown">
                  <li><a href="#">Brahmothsavam</a></li>
                  <li><a href="#">80th Jayanthi</a></li>
                  <li><a href="#">How to Contribute?</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Gallery</a>
                <ul class="dropdown">
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Where to Get?</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Books</a>
                <ul class="dropdown">
                  <li><a href="#">Sri Vaishnava Samhitha</a></li>
                  <li><a href="#">Sthothras</a></li>
                  <li><a href="#">Where to Get?</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Audio</a>
                <ul class="dropdown">
                  <li><a href="#">உபன்யாஸங்கள்</a></li>
                  <li><a href="#">Where to Get?</a></li>
                </ul>
              </li>
              <li><a href="/">Donations</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </section>
        </nav>
       </div>
        {% block page %}{% endblock %}
     <footer>
     <div class="row">
      <div class="large-6 columns">
        <ul>
        <li>© 2004 - 2015 All Rights Reserved.</li>
        <li>Administered By <a href="mailto:mukunthanpnr@gmail.com">R. Mukunthan</a> on Behalf Of Sri Sri Krishnapremi Swamigal Bhagavatha Dharmam Trust</li>
        </ul>
      </div>
      <div class="large-6 columns">
        <ul>
        <li>Site Developed &amp; Maintained by <a href="mailto:srisriannaorg@gmail.com">Santhanam</a> &amp; <a href="http://thiru.in" target="_blank">Thiru</a></li>
        </ul>
      </div>      
     </div>
     <div class="row">
      <div class="large-12 columns clearfix">
        <p class="left text-left">© ஶ்ரீ ஶ்ரீ க்ருஷ்ண ப்ரேமி ஸ்வாமிகள் பாகவத தர்மம் அறக்கட்டளை</p>
        <p class="right text-right"><a href="terms-and-conditions">Terms</a></p>
      </div>   
     </div>              
    </footer>
   </div> 
   <script src="assets/js/main.js"></script>  
  </body>
</html>
