{% extends "layout.twig" %}
   {% block page %}
    <div class="main">
     <div class="row">
         {% block posts %}{% endblock %}
      <section class="sidebar small-12 large-4 medium-4 columns">
         {% include 'sidebar.twig' %}
      </section>
     </div>
    </div>     
   {% endblock %}

        