{% extends "posts-layout.twig" %}
 
{% block posts %}
      <section class="post small-12 large-8 medium-8 columns">
          <article id="post-80661" class="post-80661 post clearfix" role="article">
            <a href="http://srisrianna.com/announcement/premika-vijyam-kolahalan-prasadam/80661" 
               title="Premika Vijyam DVD &amp; Kolahalan Prasadam">
             <img src="assets/img/posts/premika-vijyan-dvd-front-537x300.png"
                  class="attachment-wpbs-featured wp-post-image" 
                  alt="Premika Vijayam DVD - Font">
            </a>              
            <header>
                <span class="meta">
                    <timedate datetime="2015-03-23" pubdate="">
                        <span class="day">23</span>
                        <span class="month">Mar</span>
                        <span class="year">2015</span>
                    </timedate>
                </span>                     
                <h1>
                    <a href="http://srisrianna.com/announcement/premika-vijyam-kolahalan-prasadam/80661" 
                       rel="bookmark" title="Premika Vijyam DVD &amp; Kolahalan Prasadam">
                        Premika Vijyam DVD &amp; Kolahalan Prasadam
                    </a>
                </h1>
            </header>  
            <section class="post_content clearfix">
<p>Many of you would have read the Premika Vijyam in book format which is available in both Tamil and English version. Now it is released as DVD.</p>
            <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-3 large-block-grid-3"
                data-clearing>
              <li>
                <a class="th" href="http://srisrianna.com/wp-content/uploads/2015/03/premika-vijyan-dvd-front.png">
                    <img data-caption="Premika Vijayam DVD - Font" src="http://srisrianna.com/wp-content/uploads/2015/03/xpremika-vijyan-dvd-front-208x300.png.pagespeed.ic.w2_1Ert2CC.jpg" alt="Premika Vijayam DVD - Font">
                </a>
               </li>
              <li>
                <a class="th" href="http://srisrianna.com/wp-content/uploads/2015/03/premika-vijyan-dvd-back.png">
                    <img data-caption="Premika Vijyam DVD - Back" src="http://srisrianna.com/wp-content/uploads/2015/03/xpremika-vijyan-dvd-back-213x300.png.pagespeed.ic.oyJtRiVlwQ.jpg" alt="Premika Vijyam DVD - Back">
                </a>
               </li>               
            </ul>                   
<p>Sri Sri Anna s life history has been documented for posterity!!! Premika Vijayam is a short, moving film that records and traces Sri Sri Anna&#8217;s early life right from his incarnation. Aptly titled &#8216;Bala Kandam&#8217;, Premika Vijyam is scripted by Sri Hariji and Sri Ranganji &#8211; Sri Anna&#8217;s sons and foremost disciples. The film is a spiritual sojourn throughout. It carries the viewers from Sri Sri Anna&#8217;s birth onwards through various milestones reached by Sri Sri Anna in his pursuit of the divine. Vibrant with lilting background scores, intensely devotional premika bhaktas passionately live their roles in the well-directed film. Sri Rama listened to the musical rendition of the Ramayana by Lava Kusha, was moved by it and blessed it. Sri Sri Anna too in the same manner viewed the Movie with his devotees and showered his blessings. Premika Vijyam has English subtitles for viewers who do not understand Tamil. Premika Vijyam DVD is available in the following <a href="http://srisrianna.com/wheretoget">locations</a>.</p>
<p>Please also <a title="Send Email to Mukunthan" href="/cdn-cgi/l/email-protection#89e4fce2fce7fde1e8e7f9e7fbc9eee4e8e0e5a7eae6e4">Email Mr. Mukunthan</a> or Contact 944 348 1860, the DVD will be sent through courier.</p>
<h2>Kolahalan Prasadam</h2>
<p>Sri Radhika Ramana Bhaktha Kolahalan&#8217;s abundant grace is now available in the form of prasadam at Paranur- an invaluable one though! At a very nominal price. Those who wants the Kolahalan Prasadam, can <a title="Send Email to Mukunthan" href="/cdn-cgi/l/email-protection#600d150b150e1408010e100e1220070d01090c4e030f0d">Email Mr. Mukunthan</a> or Contact 944 348 1860, the Prasadam will be sent through courier.</p>
            <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-3 large-block-grid-3"
                data-clearing>
              <li>
                <a class="th" href="http://srisrianna.com/wp-content/uploads/2015/03/kolahalan-prasadam.png">
                    <img data-caption="Kolahalan Prasadm Box" src="http://srisrianna.com/wp-content/uploads/2015/03/xkolahalan-prasadam-226x300.png.pagespeed.ic.bEF442IiXN.jpg" alt="kolahalan-prasadm1">
                </a>
               </li>
              <li>
                <a class="th" href="http://srisrianna.com/wp-content/uploads/2015/03/kolahalan-prasadm-1.png">
                    <img data-caption="Kolahalan Prasadm Box" src="http://srisrianna.com/wp-content/uploads/2015/03/xkolahalan-prasadm-1-219x300.png.pagespeed.ic.56TbKGuOjj.jpg" alt="kolahalan-prasadm-1">
                </a>
               </li>               
            </ul>                  
            </section>  
            <footer>
                <ul class="tags">
                 <li><a href="http://srisrianna.com/category/announcement" 
                   rel="category tag">announcements</a></li>
                </ul>
            </footer>  
          </article>       
      </section>
{% endblock %}
