          <div id="text-10" class="widget widget_text">
            <h5 class="widgettitle">Subscribe</h5> 
            <div class="textwidget">
                <p>Give us your email address to send notification of Sri Sri Anna's activities to you</p>
            <form action="http://srisrianna.us7.list-manage2.com/subscribe/post?u=22d9e6eb35a769d1c7a0e03db&amp;id=27011330a0" 
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
                  class="validate" target="_blank" novalidate="">
              <div class="row collapse prefix-radius">
                <div class="small-2 medium-2 large-2 columns">
                  <span class="prefix"><i class="ion-email size-24"></i></span>
                </div>
                <div class="small-8 medium-8 large-8 columns">
                  <input type="text" placeholder="Enter your E-Mail...">
                </div>
                <div class="small-2 medium-2 large-2 columns">
                  <a href="#" class="button postfix">Go</a>
                </div>                  
              </div>
             </form>   
            </div>
          </div>
          <div id="text-10" class="widget widget_text">
            <h5 class="widgettitle">Latest Posts</h5> 
            <div class="textwidget">
             <div class="ellipses links">
              <ul>
                <li><a href="post.html">ராஜ கோபுர திருப்பணி, வேதகாம பாடசாலை & ஸப்தாஹங்கள்</a></li>
                <li><a href="post.html">ஸ்ப்தாஹ/உத்ஸவ அறிவிப்புகள்</a></li>
                <li><a href="post.html">ஸ்ப்தாஹ அறிவிப்புகள்</a></li>
                <li><a href="post.html">ஸ்ப்தாஹ அறிவிப்புகள்</a></li>
                  <li><a href="post.html">ஸ்ப்தாஹ அறிவிப்புகள்</a></li>
                 </ul>
             </div> 
            </div>
          </div>  
          <div id="text-10" class="widget widget_text">
            <h5 class="widgettitle">Schedule</h5> 
            <div class="textwidget">
             <div class="ellipses links">
                <ul>
                    <li>
                      <a href="#">05-03-2015 - 13-03-2015 - ஶ்ரீமத் பாகவத ஸப்தாஹம் - ஶ்ரீ ஶ்ரீ அண்ணா - ஶ்தசரதபுரி, ராஜாராம் மந்திர், டெல்லி </a>
                    </li>
                    <li>
                      <a href="#">26-03-2015 - 28-03-2015 - ஶ்ரீ ராம நவமி உத்ஸவம் - சேங்கனூர் </a>
                    </li>                
                    <li>
                      <a href="#">02-05-2015 to 09-05-2015 - ஶ்ரீமத் பாகவத ஸப்தாஹம் - ஶ்ரீ ஶ்ரீ அண்ணா - ஶ்ரீ கூரத்தாழ்வான் பஜனாஸ்ரமம், கோகுலம், அழகர் கோவில், மதுரை</a>
                    </li>
                    <li>
                      <a href="#">26-07-2015 - பரனூர் வாரி - விழுப்புரம்</a>
                    </li>

                    <li>
                      <a href="#">More Events</a>
                    </li>                
                 </ul>
             </div> 
            </div>
          </div>                