// From http://flatuicolors.com/
$color-turquoise : #1ABC9C;
$color-emerald : #2ECC71;
$color-peter-river : #3498DB;
$color-amethyst : #9B59B6;
$color-wet-asphalt : #34495E;

$color-green-sea : #16A085;
$color-nephritis : #27AE60;
$color-belize-hole : #2980B9;
$color-wisteria : #8E44AD;
$color-midnight-blue : #2C3E50;

$color-sun-flower : #F1C40F;
$color-carrot: #E67E22;
$color-alizarin : #E74C3C;
$color-clouds : #ECF0F1;
$color-concrete : #95A5A6;

$color-orange : #F39C12;
$color-pumpkin : #D35400;
$color-pomengranate : #C0392B;
$color-silver : #BDC3C7;
$color-asbestos : #7F8C8D;

//http://www.materialpalette.com
$color-teal-dark : #00796B;
$color-teal : #009688;
$color-teal-light : #B2DFDB;

$color-indigo : #3F51BF;
$color-indigo-dark : #303F8F;
$color-indigo-light : #CACAE9;

$color-blue : #2196F3;
$color-blue-dark : #1976D2;
$color-blue-light : #BBDEFB;

$color-amber : #FFC107;
$color-amber-dark : #FFA000;
$color-amber-light : #FFECB3;

$color-brown : #795548;
$color-brown-dark : #5D4037;
$color-brown-light : #D7CCC8;

$color-blue-grey : #607D8B;
$color-blue-grey-dark : #455A64;
$color-blue-grey-light : #CFD8DC;

$color-white: white;