div, section {
    //outline: 1px dashed red;
}


header {
    background-color: #1976D2;
    padding: 0;
    margin: 0;
}   

header h1,
header h3 {
    color: #fff;
    text-shadow: 1px 2px 0.1em black;//, 0 0 1em blue, 0 0 0.2em blue;
}    

header h1 {
    font-size: 2rem;
}

header h3 small {
    font-size: 55%;
}

header h3 {
    letter-spacing: 0.05em;
}   

header h1 small,
header h3 small {
    color: #fff;
    text-shadow: 1px 2px 0.1em black;//, 0 0 1em blue, 0 0 0.2em blue;
} 

#wrap {
    background-color: #fff;
    border: 1px solid rgba(7, 123, 166, 1.0);
}

.top-bar-section ul li > a:hover,
.top-bar-section ul li > a:active,
.top-bar-section ul li > a:focus {
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2), -0.06em -0.09em 0.011em rgba(0, 0, 0, 0.1);
}

a:hover .box-shadow {
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.8), -0.06em -0.09em 0.011em rgba(0, 0, 0, 0.8); 
    cursor: context-menu;
}

a i.ion-email {
    vertical-align: middle;
    margin: 10px 5px;
}

a:hover i.ion-email:before {
    content: "\f422";
}

div.main {
    background-color: rgb(216, 207, 203);
}

.section-title i {
    padding-right: 5px;
}

.widget-section {
    background-color: #fff;
    margin: 10px 0px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2), -0.06em -0.09em 0.011em rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
}

.section-title {
    background-color: rgba(234, 234, 234, 1.0);
    padding: 7px 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.05em;
}

.section-content {
    padding: 12px 12px 0 12px;
}

div.section-content p {
    margin-bottom: 0.25rem;
}

div.latest-posts .section-content {
    padding: 10px 10px 10px 10px;
}

div.latest-posts .section-content ul {
    margin: 0;
}

div.upadesa-mozhigal .section-content p span {
    font-size: 150%;
    padding-right: 10px;
}

div.ellipses ul li {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;              /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}

div.section-content dl dt {
    font-style: italic;
    padding: 10px;
}

div.section-content dl dd {
    padding: 10px 10px 0px 10px;
}

footer {
    background-color: white;    
    color: #2196F3;    
    box-shadow: -0em -0.1em 0.05em rgba(0, 0, 0, 0.3);    
}

footer a:link, footer a:visited, footer a:active {
    color: green;
}

footer a:hover {
    color: red;
}

footer ul {
    list-style: none;
}

footer ul, footer p {
    margin: 10px 5px;
}

.size-24 {
    font-size: 24px;
}


@media #{$medium-up} {
    #wrap {
        margin: 15px auto;
        -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.55);
        -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.55);
        box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.55);
        border: 0.05em solid #000;
        max-width: 1026px;

    }
    .row {
        max-width: 1026px;
    }

    .img-srisri {
        width:145px;
        box-shadow:  0 0 20px  rgba(238,238,221,0.6);
        -moz-box-shadow: 0 0 20px  rgba(238,238,221,0.6);
        -webkit-box-shadow: 0 0 20px  rgba(238,238,221,0.6);
        -o-box-shadow: 0 0 20px  rgba(238,238,221,0.6);
        border-radius:100px;
        float:left;
        margin-top: 5px;
    }

    header {
        height: 160px;
        background-image: url("../img/krishna-yashoda.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    header h1,
    header h3 {
        margin-left: 175px;
    }
}

@media #{$small-up} and (orientation: portrait) {
    header {
        background-image: none;
    }
    header h1 small {
      display: none;
    }
}
