{% extends 'layouts/sidebar.twig' %}

{% block content %}
    <h1>{{ wp.sprig_title }}</h1>
    {% for post in posts() %} {{ the_post(post) }}
        {% include wp.get_post_format ? 'content/content-' ~ wp.get_post_format ~ '.twig' : 'content/content.twig' %}
    {% endfor %}
    {% if posts() is empty %}
        {% include 'content/content-none.twig' %}
    {% endif %}
    {% include 'includes/paging.twig' %}
{% endblock %}
