<footer>
<div class="row">
 <div class="large-6 columns">
   <ul>
   <li>© 2004 - {{ "now"|date("Y") }} All Rights Reserved.</li>
   <li>Administered By <a href="mailto:mukunthanpnr@gmail.com">R. Mukunthan</a> on Behalf Of Sri Sri Krishnapremi Swamigal Bhagavatha Dharmam Trust</li>
   </ul>
 </div>
 <div class="large-6 columns">
   <ul>
   <li>Site Developed &amp; Maintained by <a href="mailto:srisriannaorg@gmail.com">Santhanam</a> &amp; <a href="http://thiru.in" target="_blank">Thiru</a></li>
   </ul>
 </div>
</div>
<div class="row">
 <div class="large-12 columns clearfix">
   <p class="left text-left">© ஶ்ரீ ஶ்ரீ க்ருஷ்ண ப்ரேமி ஸ்வாமிகள் பாகவத தர்மம் அறக்கட்டளை</p>
   <p class="right text-right"><a href="terms-and-conditions">Terms</a></p>
 </div>
</div>
{{ wp.dynamic_sidebar('sidebar-footer') }}
</footer>
